<!DOCTYPE html>
<html>
  
<head>
    <title>Website Builder</title>
</head>
  
<body>
    <h1>Build my website</h1>
   
    <form action="/submit" 
      enctype="multipart/form-data" method="POST">
        <span>Background image ():</span>  
        <input type="file" name="bgimg" required/> <br>
        <span>Mobile ackground image ():</span>  
        <input type="file" name="mobilebgimg" required/> <br>
        <input type="submit" value="submit"> 
    </form>
</body>
  
</html>